<template>
  <div>
    <h1 align="left">List of product</h1>

  </div>
  <p align="left">
   <input  class="Blue"
       type="button"
       value="New Product">
       </p>

    <table style="width: 100%; height: 100%;">
      <tr>
        <th>Id</th>
        <th>Libellé</th>
        <th>Qut</th>
        <th>Action</th>
      </tr>
       <tr>
        <td>1</td>
        <td>Produit1</td>
        <td>20</td>
        <td><input class="Blue"
       type="button"
       value="Edit"><input class="Red"
       type="button"
       value="Delete">
</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Produit2</td>
        <td>50</td>
        <td><input class="Blue"
       type="button"
       value="Edit">
<input class="Red"
       type="button"
       value="Delete">
</td>
      </tr>
      <tr>
       <td>3</td>
        <td>Produit3</td>
        <td>15</td>
        <td><input class="Blue"
       type="button"
       value="Edit">
<input class="Red"
       type="button"
       value="Delete">
</td>
      </tr>
      <tr>
       <td>4</td>
        <td>Produit4</td>
        <td>58</td>
        <td><input class="Blue"
       type="button"
       value="Edit">
<input class="Red"
       type="button"
       value="Delete">
</td>
      </tr>
    </table>
    <p align="left">&copy; 2022 - CRUD_ASP.NET 6 - <a href="www.facebook.com">Privacy</a></p>

</template>
<style>
      table {
        border-collapse: collapse;
      }
      td,
      th {
        padding: 30px;
        border-bottom: 0.5px solid #000000;
        text-align: center;
      }
      .Red {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.Red:hover {
    background-color: rgba(255, 0, 0, 1);
}

.Red:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
                

                /*------------------------------------------------------------------------------------- */
}
.Blue {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(49, 17, 233);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.Blue:hover {
    background-color: rgb(49, 17, 233);
}

.Blue:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


    </style>


<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->

